/*Estilos para la pagina de Planetas*/

/*Selector Unitario*/ 


*{
    padding: 0;
    margin: 0;
 }
 
 /*Selector de etiqueta*/
 body{
     background-color: #f1ecea;
     color: white;
 }
 /*selector de clase*/
 
 .img{
     height: 150px;
     border-radius: 1px;
     margin-left: 5px;
     margin-right: 5px;
     justify-items: center;
    
 
 }
 .img2{
    height: 100px;
    border-radius: 1px;
    margin-left: 5px;
    margin-right: 5px;
    justify-items: center;
   

}

 
 .texto {
     text-align: justify;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 15px;
     padding: 5px 10px;
     color: white;    
 }
 .texto2 {
     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 23px;
     padding: 5px 10px;
     color: white;
 }
 .texto3 {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    padding: 5px 10px;
    color: white;
}
.texto4 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 5px 10px;
    color: white;
}
 
  .encabezado-articulo {
     padding: 5%;
     text-align: center;
     background-color: #ea251c; 
     color: #ea251c(255,255,255);
 
 }
 
 .encabezado-aside{
     padding: 15%;
     text-align: center;
     background-color: #362f2f;
     color: white;
     margin: 1em 2em;
 }
 
 .barraNavegacion-aside{
     text-align: justify;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 20px;
     padding: 0 25px;
 }
 
 .lista-aside{
     padding: 10px;
 }
 
 .lista-aside li{
     display: flex;
     text-align: left;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 20px;
     padding: 0 2px;
     list-style: square;
     color: #256d78; 
 }
 /*selector ID*/
 #contenedor{
     width: 900px;
     height: 3000px;
     background-color: #252850;
     max-width: 0 auto;
     border-radius: 5px; /* seccion del fondo*/
 }
 
 #encabezado{
     height: 5%;
     background-color: #039;
     margin: 1em;
     padding: 0 50px;
     border-radius: 5px ;
     display: flex;   /*bases para poder centrar*/
     justify-content: center;
     align-items: center;
 }
 
 #barraNavegacion {
     height: 3%;
     background-color: #256d78;
     margin: 1em;
     border-radius: 5px;
 }
 
 #contenido{
     height: 75%;
     width: 58%;
     background-color: #1b004b;
     margin: 0.5em;
     display: inline-block;
     border-radius: 5px;
     text-align: justify; /*fondo*/
 }
 
 #fueraSeccion{
     width: 35%;
     height: 75%;
     background-color: #2b262d;
     margin: 0.5em;
     display: inline-block;
     vertical-align: top;
     border-radius: 5px;
 }
 #pieNavegacion {
     height: 5%;
     background-color: #3a251c;
     text-align: center;
     padding: 5px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
 }
 #pieNavegacion h4{
     padding: 15px;
     font-size: 20px;
 }
 
 /*Selector de etiqueta*/
 ul{
     padding: 15px;
     font-size: 16px;
     text-align: center;
     list-style-type: circle;
 }
 
 li{
     display: inline;
     padding: 10px 30px;
     margin: 3em;
 
 }
 /*Selector de evento*/
 li a:hover {
     color: yellow;
     text-decoration: none;
     list-style: none;
 }